---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Auctologue Blog</title>
  <subtitle>Stories from the auction industry and technical tutorials.</subtitle>
  <link href="https://auctologue.com/feed.xml" rel="self"/>
  <link href="https://auctologue.com/"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://auctologue.com/</id>
  <author>
    <name>Auctologue</name>
  </author>
  {%- for post in collections.blog | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://auctologue.com{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>https://auctologue.com{{ post.url }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls("https://auctologue.com" ~ post.url) }}</content>
  </entry>
  {%- endfor %}
</feed>
